body {
    font-family: Arial, sans-serif;
}

.question {
    margin-bottom: 20px;
}

.feedback {
    display: block;
    margin-top: 2px;
}

.correct {
    color: green;
}

.incorrect {
    color: #e9420f;
}

.btn {
    width: 290px;height: 54px;line-height: 18px;text-align: center;background-color: #ffffff;color: #5f3afc;border:2px solid #5f3afc;-moz-border-radius: 0.5em;-webkit-border-radius: 0.5em;border-radius: 0.5em;-webkit-box-shadow: 5px 5px 16px #5e3afc1d;-moz-box-shadow: 5px 5px 16px #5e3afc23;box-shadow: 5px 5px 16px #5e3afc1e;font-size: 18px;padding-bottom: 1px;letter-spacing:1px;margin-top: 15px;
    transition: background-color 0.3s ease;
    margin-left: auto;margin-right: auto;
    font-weight: bold;
}
.btn:hover {
    background-color: #5f3afc;color: #ffffff;border:2px solid #5f3afc;
    -webkit-border-radius: 1em;border-radius: 0.5em;-webkit-box-shadow: 5px 5px 16px #5e3afc50;-moz-box-shadow: 5px 5px 16px #5e3afc4f;box-shadow: 5px 5px 16px #5e3afc53;
}

.btn2 {
    width: 290px;height: 54px;line-height: 18px;text-align: center;background-color: #ffffff;color: #fc3a3a;border:2px solid #fc3a3a;-moz-border-radius: 0.5em;-webkit-border-radius: 0.5em;border-radius: 0.5em;padding-bottom: 1px;letter-spacing:1px;margin-top: 15px;
    transition: background-color 0.3s ease;
    margin-left: auto;margin-right: auto;
    font-weight: bold;
}
.btn2:hover {
    background-color: #fc3a3a;color: #ffffff;border:2px solid #fc3a3a;
    -webkit-border-radius: 1em;border-radius: 0.5em;
}



